body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #333;
}

button {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 20px auto;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

pre {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    overflow-x: auto;
    max-height: 400px; /* You can adjust this value as per your need */
}

#stateOutput {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#statusSection, #viewSection {
    margin: 20px auto;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    width: 80%; /* Adjust width as needed */
}

#statusOutput, #viewOutput {
    white-space: pre-wrap; /* For better formatting */
}

h2 {
    color: #007bff;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.alert-success {
    color: green;
    text-align:center;
    outline-color: #007bff;
    outline-width: 3px;
    font-weight: bold;
    padding-bottom: 35px;
}

.form-label{
    padding-bottom: 0px;
    margin-bottom: 3px;
}
.form-instructions{
    margin-top: 0px;
    margin-bottom: 2px;
}

.alert-error {
    color: red;
}
nav{
    text-align: center;
    color: snow;
    font-family:'Calibri', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    padding-bottom: 3px;
    outline: 1px solid cornflowerblue;
    background-color: #fff;
}
