<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/get_state">Get State</a></li>
        <li><a href="/set_state">Set State</a></li>
        <li><a href="/sky_search">Sky Search</a></li>
    </ul>
</nav>
<body>
<h1>Welcome to The Stellarium Interface!</h1>
<p>This is an app that acts as an interface to the Free app Stellarium. Above are links to the
various functions of this application. With this app, you can read the state of the app(Get State),
modify the current state of the app (Set State), or search the sky for a new object by name (Sky Search).
If the various functions above are not working for you, make sure that Stellarium is open, and the
remote control function is enabled in settings.</p>

<div>
    <img src='../static/Images/Andromeda.jpg' class="gallery" alt="a beautiful splash of stars scattered across the tan dusty galactic clouds of Andromeda">
    <img src='../static/Images/Aries.jpg' class="gallery" alt="a spiral galaxy, floating alone in a deep darkness, accompanied by a few flickering stars.">
    <img src='../static/Images/Hubble.jpg' class="gallery" alt="shimmering star-fields of white and red, filling the skies with countless stars">
    <img src='../static/Images/Hydra.jpg' class="gallery" alt="many galaxies in a community, in the collection called the Hydra group. Spiralling stars and spacedust, in a collection of stars.">
    <img src='../static/Images/Galaxy.jpg' class="gallery" alt="A dusty mote of a galaxy surrounded by stars.">
    <img src='../static/Images/Comet.jpg' class="gallery" alt="a bright blue comet steals the show to a backdrop of limitless stars">
</div>

</body>
</html>