<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/get_state">Get State</a></li>
        <li><a href="/set_state">Set State</a></li>
        <li><a href="/sky_search">Sky Search</a></li>
    </ul>
</nav>
<body>
<h1>Welcome to The Stellarium Interface!</h1>
<p>This is an app that acts as an interface to the Free app Stellarium. Above are links to the
various functions of this application. With this app, you can read the state of the app(Get State),
modify the current state of the app (Set State), or search the sky for a new object by name (Sky Search).
If the various functions above are not working for you, make sure that Stellarium is open, and the
remote control function is enabled in settings.</p>

</body>
</html>