<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/get_state">Get State</a></li>
        <li><a href="/set_state">Set State</a></li>
        <li><a href="/sky_search">Sky Search</a></li>
    </ul>
</nav>
<body>

<!--input fields: time, focus, move, view, fov -->
<h1>Set State</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<h3 class = "form-label">Time Modifications</h3>
<hr>
<p class = "form-instructions">Use these options to set the time, and time rate</p>

    <form id="setTimeForm" action="/set_time_action" method="post">
        <label for="dateInput">Date (MM/DD/YYYY):</label>
        <input type="date" id="dateInput" name="date">

        <label for="timeInput">Time (HH:MM):</label>
        <input type="time" id="timeInput" name="time">

        <label for="timeRate">Time Rate:</label>
        <input type="number" id="timeRate" name="timeRate" placeholder="Speed Multiplier">

        <button type="submit">Set State</button>
    </form>
<hr>
<h3 class = "form-label">FOV Modifications</h3>
<hr>
<p class = "form-instructions"> Set the width of the viewport, in degrees</p>
<form id = setFOV" action ="/set_FOV" method = "post">
    <label for="FOV">FOV (Degrees)</label>
    <input type="number" id="FOV" name="FOV" min = "1" max = "235" placeholder = "0.01", step = "0.01">

    <button type = "submit">Set Field of View</button>
</form>
<hr>
<h3 class = "form-label">Toggle Focus</h3>
<p class = "form-instructions">If the system is currently focused, Unfocus.</p>
<form id="unfocus" action = "/unfocus" method="post">
    <button type="submit">Unfocus Current Selection</button>
</form>
</body>
</html>