<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sky Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/get_state">Get State</a></li>
        <li><a href="/set_state">Set State</a></li>
        <li><a href="/sky_search">Sky Search</a></li>
    </ul>
</nav>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                    <a href = {{url_for('get_focused_info', target=name) }} ><button>View Properties of {{name}}</button></a>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<form id="skySearch" action="/lookup" method="POST">
    <label for="object_to_search" id="skySearchLabel">Lookup Object: </label>
    <input type="text" id="object_to_search" name="object_to_search" placeholder="e.g. Cassiopeia">
    <button id="searchSubmit" type="submit">Search For Object</button>
</form>

</body>
</html>